/*GENEAL STRUCTURE*/
html, body, .initial-content, #map1, .d-flex {
	min-height: 100%;
}
.leaflet-container{
	font:inherit;
}
a:hover{
	text-decoration: none;
}
a{
	color: inherit;
}


@media (min-width: 1200px){
	#sidebar {
		width: 490px ;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	#sidebar {
		width: 350px ;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	#sidebar {
		width: 350px ;
	}
}
.input-group-addon{
    padding: 6px 12px;
    color: #555;
    background-color: #eee;
    border: 1px solid #ced4da;
}
.nav-item {
    padding: 6px 12px !important;
    /*height: 34px!important;
    font-size: .75em!important;
    font-weight: bold!important;*/
}
#sidebar{
	background-color: #E8D5B7;
	padding: 0px 6px;
}
.title{
	margin: 10px auto;
}
.subtitle {
	margin: 10px auto;
    display: table;
}
label{
	display: flex;
	align-items: center;
}
.list-group-item{
	padding: .5rem 1rem;
	cursor: pointer;
}
.list-group-item.active{
	color: white;
}
#search_species_lang{
	margin-left: auto;
}
#send{
	display: 	block;
	margin:auto;
}
.selectize-input {
    min-height: 38px;
}
#checkbox-list{
	    display: flex;
    justify-content: space-between;
}
#draw-rectangle{
	    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
        background: white;
}
#yourForm{
	padding-bottom: 	60px;
}
#uploadSpecieList{
	height: initial;
}
